<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="GuideDao">
	<select id="selectGuides" resultType="map" parameterType="org.secsm.model.Guide">
		SELECT * FROM guide WHERE (os = #{os} AND device = #{device}) ORDER BY download DESC LIMIT #{limit}, 10;
	</select>

		<select id="selectGuideByGidx" resultType="map" parameterType="String">
		SELECT * FROM guide WHERE gidx = #{gidx};
	</select>
	
	<select id="selectGuideOfRes" resultType="map" parameterType="org.secsm.model.Guide">
		SELECT * FROM guide WHERE (os = #{os} AND width = #{width} AND height = #{height});
	</select>
	
	<select id="selectGuideByName" resultType="map" parameterType="org.secsm.model.Guide">
		SELECT * FROM guide WHERE (os = #{os} AND device = #{device} AND (name LIKE #{name}));
	</select>
	
	<select id="selectGuideByID" resultType="map" parameterType="String">
		SELECT * FROM guide WHERE creator = #{user_id};
	</select>

	<select id="insertGuide" parameterType="org.secsm.model.Guide">
		INSERT INTO guide(creator, date, gidx, name, image, os, description, download )
									VALUES ( #{creator} , #{date}, #{gidx}, #{name}, #{image}, #{os}, #{description}, '0');
	</select>
	
	<select id="updateGuide" parameterType="org.secsm.model.Guide">
		UPDATE guide SET name = #{name}, image = #{image}, description = #{description} WHERE idx = #{idx};
	</select>

	<select id="updateDownload" parameterType="org.secsm.model.Guide">
		UPDATE guide SET download = #{download} WHERE idx = #{idx};
	</select>
	
	<select id="deleteGuide" parameterType="String">
		DELETE FROM guide WHERE idx = #{idx};
	</select>
</mapper>